################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameCaroLAN/.vs/GameCaroLAN/v15/Server/sqlite3
/GameCaroLAN/.vs/GameCaroLAN/v15
